@import url('https://fonts.googleapis.com/css?family=Cinzel|Lato|Montserrat&display=swap');

body
{
    font-size: 20px;
    color: black;
    background-attachment: fixed;
    background-image: url("loop_background.jpg");
    background-repeat: repeat;
    font-family: 'Lato', sans-serif;
}

.day::before
{
    content: " " url('cat.png');
}

.title
{
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-top: 40px;
    font-family: 'Cinzel', serif;
}

.header
{
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0px;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: rgba(255, 255, 255, 1);
}

.header~h1:first-of-type
{
    margin-top: 220px;
}

.header~form:first-of-type
{
    margin-top: 220px;
}

.header>.person_info
{
    background-image: url('banner.jpg');
    background-repeat: no-repeat;
    align-content: center;
}

h1
{
    color: black;
    font-size: 40px;
    text-align: center;
    font-family: 'Cinzel', serif;
}

h3
{
    text-align: center;
    font-family: 'Cinzel', serif;
}

.header~h3:first-of-type
{
    margin-top: 220px;
}

.grade 
{
    text-align: center;
    margin-bottom: 20px;
}

.sound
{
    background-image: url("speaker.png");
    width: 25px;
    height: 25px;
}

a
{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

a:visited
{
    color: black;
}

a:hover
{
    color: blue;
    cursor: url('link-hover.png'), auto;
}

.nav
{
    text-align: center;
    z-index: 1;
}

.nav>a
{
    text-transform: capitalize;
    margin: 40px;
    color: black;
    border-top: 1px solid #000000;
}

.nav>a:hover
{
    border-top: 3px solid blue;
}

.nav>a:nth-child(1)::after
{
    content: " " url('logout.png');
}

.nav>a:nth-child(1):hover:after
{
    content: " " url('logout-hover.png');
}

.nav>a:nth-child(2)::after
{
    content: " " url('myaccount.png');
}

.nav>a:nth-child(2):hover:after
{
    content: " " url('myaccount-hover.png');
}

.nav>a:nth-child(3)::after
{
    content: " " url('home.png');
}

.nav>a:nth-child(3):hover:after
{
    content: " " url('home-hover.png');
}

.nav>a:nth-child(4)::after
{
    content: " " url('classmate.png');
}

.nav>a:nth-child(4):hover:after
{
    content: " " url('classmate-hover.png');
}

.nav>a:nth-child(5)::after
{
    content: " " url('seating.png');
}

.nav>a:nth-child(5):hover:after
{
    content: " " url('seating-hover.png');
}

.nav>a:nth-child(6)::after
{
    content: " " url('grades.png');
}

.nav>a:nth-child(6):hover:after
{
    content: " " url('grades-hover.png');
}

[class*="box"]
{
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 0;
    min-height: 120px;
    overflow: auto;
}

[class*="day-box"]
{
    background-color: rgba(242, 241, 239, 0.5);
    margin-bottom: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.reading-box
{
    background-color: rgba(251, 255, 176, 0.5);
    clear: left;
}

.reading-box:hover:before
{
    content: url('read-box.gif');
    float: right;
}

.lab-box
{
    background-color: rgba(212, 255, 208, 0.5);
}

.lab-box:hover:after
{
    content: url('lab-box.gif');
    float: right;
}

.grading-box
{
    background-color: rgba(255, 220, 255, 0.5);
}

.grading-box:hover:after
{
    content: url('grade-box.gif');
    float: right;
}

.prep-box
{
    background-color: rgba(206, 255, 255, 0.5);
}

.prep-box:hover:after
{
    content: url("prep-box.gif");
    float: right;
}

.reading
{
    float: left;
    display: block;
    clear: left;
}

.assignmentWidget
{
    float: left;
}

.assignment_title
{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
}

label
{
    display: block;
    margin: 10px;
}

.person_image
{
    width: 80px;
    height: 110px;
    border-radius: 10px;
}

table
{
    margin: auto;
}

th, td
{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: rgba(251, 255, 176, 0.5);
}

th
{
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

input
{
    font-size: 20px;
}

rect
{
    fill: rgba(212, 255, 208, 0.5);
}

.input_url
{
    display: block;
    width: 500px;
    margin-bottom: 10px;
}

iframe
{
    height: 80%;
    width: 80%;
    display: block;
    margin: auto;
}

.graded-assignment
{
    line-height: 20px;
}

.assignment-label
{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
}

.grading-box>.assignment-label
{
    float: left;
}

.account_form
{
    text-align: center;
    background-color: rgba(206, 255, 255, 0.5);
}

svg
{
    margin-top: 220px;
}

svg>rect
{
    fill: rgba(0, 0, 0, 0.5);
}

.assignment-title
{
    margin-top: 220px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.prep-box>.assignment_link>.assignmentWidget>.assignment-title
{
    margin: auto;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
}

.lab-box>.assignment_link>.assignmentWidget>.assignment-title
{
    margin: auto;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
}

.graded-assignment
{
    text-align: center;
    margin: 10px;
}

.assignmentWidget>.grade
{
    text-align: left;
}

.assignment_form
{
    background-color: rgba(206, 255, 255, 0.5);
}

.partners
{
    position: absolute;
    top: -25px;
    left: 250px;
}