body
{
    font-size: 20px;
    text-shadow: 2px 2px #000000;
    color: white;
    background-attachment: fixed;
    background-image: url("background.jpg");
}

.title
{
    font-size: 28px;
    color: yellow;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-top: 20px;
}

.header
{
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: rgba(149, 165, 166, 1);
    border-radius: 10px;
    padding: 0px 20px;
}

h1
{
    color: yellow;
    font-size: 40px;
    text-align: center;
    margin-top: 210px;
}

h3
{
    color: #FF9700;
    text-align: center;
}

h3:first-of-type
{
    margin-top: 210px;
}

.grade 
{
    text-align: center;
    margin-bottom: 20px;
}

.sound
{
    background-image: url("speaker_2.png");
    width: 25px;
    height: 25px;
}

a
{
    text-decoration: none;
    color: yellow;
}

a:visited
{
    color: #62FF3B;
}

a:hover
{
    color: #FFB23B;
}

.nav
{
    text-align: center;
    z-index: 1;
}

.nav>a
{
    text-transform: capitalize;
    margin: 50px;
}

[class*="box"]
{
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #3BFFF0;
    padding: 10px;
    z-index: 0;
}

[class*="day-box"]
{
    background-color: rgba(137, 196, 244, 0.5);
    margin-bottom: 20px;
}

[class*="reading-box"]
{
    background-color: rgba(25, 181, 254, 0.5);
    
}

[class*="lab-box"]
{
    background-color: rgba(31, 58, 147, 0.5);
}

[class*="grading-box"]
{
    background-color: rgba(140, 20, 252, 0.5);
}

[class*="prep-box"]
{
    background-color: rgba(191, 85, 236, 0.5);
    height: 120px;
}

[class*="prep-box"]::after
{
    content: " " url("prep-box.gif");
    float: right;
}

label
{
    display: block;
    margin: 10px;
}

.person_image
{
    width: 80px;
    height: 110px;
    border-radius: 10px;
}

table
{
    margin: auto;
}

th, td
{
    border: 1px solid #3BFFF0;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

th
{
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

input
{
    font-size: 20px;
}

rect
{
    fill: white;
}

.input_url
{
    display: block;
    width: 500px;
    margin-bottom: 10px;
}

iframe
{
    height: 80%
    width: 80%;
    display: block;
    margin: auto;
}

.graded-assignment
{
    line-height: 20px;
}

.assignment-label
{
    font-size: 24px;
}

.account_form
{
    text-align: center;
    margin-top: 210px;
}

svg
{
    margin-top: 210px;
}