body
{
    font-size: 20px;
}

.header
{
    border: 1px solid #000000;
}

.sound
{
    background-image: url("speaker.png");
    width: 50px;
    height: 50px;
}

a
{
    text-decoration: none;
}

.nav
{
    text-align: center;
}

.nav>a
{
    text-transform: capitalize;
    margin: 50px;
}

h1
{
    text-align: center;
}

[class*="box"]
{
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px;
}

.day-box COMPLETED
{
    background-color: #F9FE70;
}

.day-box CURRENT
{
    background-color: #FED370;
}

.day-box PREP
{
    background-color: #FE7070;
}

label
{
    display: block;
}